@use './partials/header';
@use './partials/mobileNav';

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.d-none {
  display: none;
}